body {
    background-color: rgb(57, 57, 57);
    font-family: 'Courier New', Courier, monospace;
    font-size: 8vh;
    
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 10px;
    margin-top: 100px;
}

.calculator {
    width: 80vh;
    height: 92vh;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(204, 204, 204);
}

button {
    border: 1px solid grey;
    background-color: rgb(78, 80, 88);
    color: rgb(201, 201, 201);
    padding: 1px;
    margin: 4px;
    flex-grow: 1;
    border-radius: 5px;
    font-size: 6vh;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
    
}

button:hover {
    background-color: rgb(105, 105, 105);
}

#screen {
    border: 7px solid rgb(157, 157, 157);
    background-color: rgb(206, 206, 206);
    margin-top: 5vh;
    padding-top: 10px;
    height: 10vh;
    min-height: 70px;
    margin-bottom: 10px;
    border-style: ridge;
    display: flex;
    flex-direction: column;
}

#bottom-rows,
.three-row,
.row
 {
    display: flex;
}

#first-section {
    flex-grow: 3.5;
}

#second-section {
    flex-grow: 1;
    display: flex
}

#plus {
    flex-shrink: 2;
}

#top-screen {
    color: rgb(100, 100, 100);
    font-size: 6vh;
}

#bottom-screen {
    font-size: 10vh;
}